<header>
    <a [routerLink]="['/']">
        <h1>{{title}}</h1>
    </a>
    <div class="links">
        <a class="link-all" *ngIf="showMe" [routerLink]="['/']">First</a>
        <a class="link-all" *ngIf="showMe" [routerLink]="['/second']">Second</a>
        <a class="link-all" *ngIf="showMe" [routerLink]="['/contact']">Contact</a>
        <a class="link-all" *ngIf="showMe" [routerLink]="['/info']">Info</a>
        <a class="link-all" *ngIf="showMe" href="">{{time}}</a>
        <div (click)="toggle()" class="hamburger-container">

            <div class="hamburger">
                <div class="line-top"></div>
                <div class="line-middle"></div>
                <div class="line-bottom"></div>
            </div>

        </div>

    </div>
</header>
<div class="app-container">
    <router-outlet></router-outlet>
</div>

<footer>
    <p>&copy; {{year}}</p>
</footer>